.nextcellent-image-mode-select {
	margin-bottom: 10px;
}

.nextcellent-image-mode-select label {
    display: block;
    margin-bottom: 8px;
}

.nextcellent-image-mode-select select {
	width: 100%;
}
