/* NextGEN Gallery Style */
 
/* SETTINGS FOR Overview Gallery */

#newversion {
	border-color:#CCCCCC;
	border-style:solid;
	border-width:1px;
	margin-right:7px;
	margin-top:10px;
	padding:2px;
}

.ngg-dashboard-widget ul.settings span {
	padding-left : 10px;
	color:#2583AD;
	font-weight:bold;
}

.ngg-overview .postbox .handlediv {
	float:right;
	height:24px;
	width:24px;
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    border: 1px solid;
    margin: 5px 0px;
    padding:5px;
}

#donator_message {
	margin:5px 0 15px;
	background-color:#BDE5F8;
	border-color:#00529B;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	border-style:solid;
	border-width:1px;
	margin:5px 15px 2px;
	padding:0 0.6em;
}

#donator_message p{
	line-height:1;
	margin:0.5em 0;
	padding:2px;
	padding-bottom:10px;
}

#donator_message span{
	padding-top:10px;
	float:right;
}

#plugin_check img {
    float: right;
}

#plugin_check p.message {
	font-size: 90%;
	color: #666;
}
/* SETTING FOR FLASH UPLOAD BUTTON */
.swfupload {
	position:absolute;
	z-index:1;
	vertical-align:top;
}

/* SETTINGS FOR THE OPTIONS TABLE */
.ngg-options th {
	width:22%;
}

a.switch-expert {
	text-decoration:none;
}

/* WATERMARK */
#wm-preview {
	float:right;
	font-size:90%;
	width:35%;
	border:1px solid #CCCCCC;
	padding: 1em;
	margin-bottom:10px;
	margin-left:10px;
	margin-right:8px;
	background: white;
}
#wm-preview h3{
	margin: 0;
}

#wm-position {
	width:100%;
	margin-left:40px;
}

.wm-table {
	border-collapse:collapse;
	margin-top:1em;
	width: 60%;
	clear:none;
}
.wm-table td {
	line-height:20px;
	margin-bottom:9px;
	padding:10px;
}
.wm-table th {
	padding:10px;
	text-align:left;
}

/* SETTINGS FOR MANAGE TABLE */

p#ngg-inlinebutton {
	float:right;
	margin:0pt;
	position:relative;
	top:-25pt;
}

.fixed .column-thumbnail{
	width:85px;
}

.fixed .column-thumbnail img{
	max-height:80px;
	max-width:80px;
}

.fixed .column-id, .fixed .column-quantity {
	width: 3.5em;
}

.fixed .column-title {
	width: 35%;
}

.fixed .column-description {
	width: 40%;
}

.fixed .column-exclude, .fixed .column-action, .fixed .column-delete {
	width: 10%;
}

.fixed .column-page_id{
width: 10%;
}

.images-grey-bubble{
height: 16px;
width: 16px;
}

.images-grey-bubble:before{
content: '\f233';
font: 400 20px/.5 dashicons;
speak: none;
display: inline-block;
padding: 0;
top: 4px;
left: -4px;
position: relative;
vertical-align: top;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-decoration: none!important;
}

 @media screen and (max-width: 782px) {
.fixed .column-page_id, .fixed .column-id , .fixed .column-description{
	display: none;
}
.fixed .column-quantity{
width: 35px;
}
.fixed .column-title {
	width: initial;
}
}

/* SETTINGS FOR GALLERY PROPERTIES */
#gallery-properties {
font-size: inherit;
}

#gallery-properties td {
margin-bottom: 0;
padding: 0;
vertical-align: top;
text-align: left;
}

#gallery-properties #author {
width: 95%;
}

/* SETTINGS FOR ADD NEW */
.add-new-form {
display: inline;
}
.add-new-form .add-new-h2{
display: inline;
color: #0074a2;
-webkit-transition-property: border,background,color;
-moz-transition-property: border,background,color;
transition-property: border,background,color;
-webkit-transition-duration: .05s;
-moz-transition-duration: .05s;
transition-duration: .05s;
-webkit-transition-timing-function: ease-in-out;
-moz-transition-timing-function: ease-in-out;
transition-timing-function: ease-in-out;
cursor: pointer;
line-height: initial;
}

/* SETTINGS FOR PROGRESS BAR */

div .progressborder {
	border:1px solid #DDDDDD;
	display: block;
	height: 30px;
	background-color: #464646;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div .progressbar {
	border: medium none ;
	display: block;
	height: 30px;
	background-color: #D54E21;
	width: 0%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div .progressbar span {
	display: inline;
	position: absolute;
	color: white;
	font-weight: bold;
	padding: 5px 0 0 5px;
}

.show_details
{
	height: 16px;
	line-height: 20px;
	overflow: hidden;
	min-width: 8em;
	padding: 3px;
	cursor:pointer;
}

.show_details span
{
	border-bottom:1px solid #999;
	white-space:pre;
}
.show_details:hover
{
	height: auto;
	overflow: visible;
	border: 1px solid #999;
}

 /* SETTINGS FOR ALBUM PAGE */

.albumnav select[name="act_album"] {
	width:150px;
}

.albumnav span {
	padding-left: 50px;
}

div .groupItem
{
	cursor: move;
	width: 295px;
	padding: 5px;
    line-height: 1.5;
}

div .innerhandle {
	background-color:#FBFBFB;
}

.groupItem .item_top
{
	background-color:#2683AE;
	color: #FFFFFF;
	font-weight:bold;
	line-height: 28px;
	height: 28px;
	padding: 0 5px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.groupItem .album_obj
{
	background-color:#D54E21;
}

.groupItem .item_top a
{
	color:#FFFFFF;
	float:right;
	text-decoration: none;
}

.groupItem .item_top a:hover
{
	color:#FFFFFF;
}

.itemContent {
	border-color:#DFDFDF;
	border-style:none solid solid;
	border-width:0 1px 1px;
	padding: 10px;
}

.itemContent p {
	border: 0;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.inlinepicture
{
	float:left;
	display:inline;
	margin:0pt;
	padding:0pt 3px 1px;
}

.inlinepicture img
{
	margin:3px;
	max-height:60px;
}

.sort_placeholder
{
	border:1px dashed #bba !important;
	margin: 5px;
	background: #F9F9F9;
}

.container {
	margin-top: 10px;
}

.target-album {
	margin:10px 685px 10px 10px;
}

.widget-right {
	float:right;
	margin:0pt 10px;
	width:315px;
}

.widget-holder {
	min-height: 400px;
	padding-top:1px;
}

.target {
	background-color:#F1F1F1;
}

div.widget-top h3 {
	text-align:center;
	line-height:25px;
	margin: 0;
	padding: 5px 12px;
	font-size: 13px;
}

div.widget-top {
	text-shadow:0 1px 0 #FFFFFF;
	background-repeat: repeat-x;
	background-position: 0 0;
	font-size: 13px;
}

.ui-autocomplete-start { background-position: 99% center; }

/* SETTINGS FOR SORT GALLERY */

#sortGallery {
	position:relative;
}

p#sortButton{
	margin:0;
	position:absolute;
	right:0;
	top:0;
}

.imageBox,.imageBoxHighlighted{
	width:130px;	/* Total width of each image box */
	height:160px;	/* Total height of each image box */
	float:left;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 5px;
}
.imageBox_theImage{
	width:110px;	/* Width of image */
	height:125px;	/* Height of image */

	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-bottom:2px;
}

.imageBox_label{	/* Title of images - both selected and not selected */
	text-align:center;
	font-family: arial;
	font-size:11px;
	padding-top:2px;
	margin: 0 auto;
}

/* UPGRADE PAGE */

.error_inline {
	background:#FFEBE8 none repeat scroll 0%;
	border:1px solid #CC0000;
	margin:5px auto;
	padding:10px;
}

/* ABOUT PAGE */
.ngg-list {
	margin-left:30px;
	list-style-position:outside;
	list-style-type:disc;
}

/*Image Date Select*/
.datepicker { display: none; }
.change { font-size:9px; cursor: pointer; margin-left: 15px;}
